.timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-left: 1px solid #f5f5f5;

  .timeline-left-icon {
    width: 24px;
    height: 24px;
    margin-left: -12px;
  }
  .timeline-content {
    font-size: 16px;
    color: #333333;
    flex-grow: 1;
    line-height: 18px;
    margin-left: 10px;
  }
  .timeline-right {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    .timeline-right-text {
      font-size: 16px;
      color: #69b076;
      text-align: right;
    }
    .timeline-right-icon {
      width: 18px;
      height: 18px;
      margin-left: 8px;
    }
    .timeline-right-date {
      font-size: 12px;
      color: #999999;
      text-align: right;
    }
  }
}
